@import url('https://fonts.googleapis.com/css?family=Crimson+Text:700i&display=swap" rel="stylesheet');

h1 {
    border: 3px solid rgb(0, 0, 0);
    border-radius: 25px;
}

.headerStyle {
    background-image: url(./Leather.jpg);
    background-size: cover;
    color: rgb(230, 234, 247);
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-weight: 700;
    text-shadow: 
    2px 2px 0 black,
    -2px -2px 0 black,
    2px -2px 0 black,
    -2px 2px 0 black;
    text-align: center;
    padding: 10px;
    border: 1px solid transparent;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
